customNamespace           = "appdynamics" # appd namespace
createServiceAccount      = true
imageInfo_imagePullPolicy = "Always"
imageInfo_agentTag        = "latest"
imageInfo_operatorTag     = "latest"
